<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./prism/prism.css" />
    <link rel="stylesheet" href="/style/app.css" />
    <title>{{ title }}</title>
  </head>
  <body>
{% include navbar %}
      <div class="right"><a href="#">About</a><a href="#">Contact</a></div>
    </div>
    <div class="content">
      {{ content | safe }}
    </div>
    <footer>
      <p>
        Created by {{ site.author.name }}, follow them on
        <a href="https://twitter.com/{{ site.author.twitter }}">Twitter</a>.
      </p>
    </footer>
    <script src="./prism/prism.js"></script>
  </body>
</html>
