    <div class="nav">
      <div class="left">
        <a class="burger" href="#sidebar">
          <span class="b1"></span>
          <span class="b2"></span>
          <span class="b3"></span> </a
        ><a href="/" class="logo">&lt;script null /></a>
      </div>
      <div class="right"><a href="/about">About</a><a href="/contact">Contact</a></div>
    </div>