<div class="sidebar" id="sidebar">
  <a class="close-btn" href="#">&times;</a>
  <h1>Sidebar</h1>
  <div class="indented">
    <h2>
      Authored by <a href="https://nikhilmwarrier.github.io">nikhilmwarrier</a>
    </h2>
    <div class="indented">
      <ul>
        <h4>Links</h4>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/">Homepage</a></li>
      </ul>
    </div>
  </div>
</div>
